html{
    scroll-behavior: smooth;
}
body{
    background: -webkit-gradient(linear, 0 0,  0 100%, from(maroon), to(crimson));
}

#hero{
    background: url('img/portada.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}
